/*Cascading Style shett for Steve unOffical website*/
body{
    background-color: rbg(5,42,68);
    background-image: url(images/bg.jpg);
    /*global font families for whole page*/
    font-family: Arial, Helvetica, sans-serif;
    color: #e0e3e5;
    font-size:18px;
}

#container{
    width:940px;
    margin: auto;
    padding:10px;
    border:2px solid #517eBF;
    background-color: #031f32;
    border-radius: 2px 2px 6px #01121e;
}

#main-header{
    width:940px;
    height:100px;
    border-bottom:1px solid #646a6e;
    background-image:url(images/head.jpg);
    float:left;
}

#name {
    float:left;
    color:white;
    margin-left:30ox;
    text-shadow:1px 1px 8px #10def0;
}

#nav{
    float: left;
    width:100%; /*spans 100% of the containing element*/
    height:40px;
    background-color: #030e16;
    background-image:url(images/navbg.png);
    /*image will only repeat horizontially */
    background-repeat: repeat-x;
    margin-bottom: 10px;

}

.btn-container{
    width:650px;
    margin:auto; /*auto margin on left and right INSIDE of the nave container */
}

.btn {
    float:left;
    width:130px;
    height:40px;
    color:white;
    text-decoration:none;
    /*center text on x-axis*/
    text-align: center;
    /*center text on y-axis; value must match height value*/
    line-height:40px;

}

.btn:hover {
    background-color: #73c5f4;
    background-image:url(images/btn.jpg);
    text-shadow:2px 2px 6px black;
}

#left{
    border:1px solid white;
    float:left;
    width:660px;
    margin-bottom:10px;
    padding:10px;

}

#right{
    border:1px solid white;
    float:right;
    width:240px;
    padding:5px;
    margin-bottom:10px;
}

#sidebar{
    float:left;
    width:240px;
    height:30px;
    background-color: #0d3b58;
    margin-top: 10px;
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    /*position image on the background*/
    background-position: 200px center;
}

.feature-title{
    float:left;
    font-size:18px;
    /*top | right | bottom| left */
    margin:5px 0 0 10px;
}

.side-tn{
    float:left;
    border:1px solid white;
    margin-bottom:10px;
}

/*We  need to CLEAR in order for the floats to stop making a mess! CLEAR property puts up a wall so stuff can't float beyond it*/

footer {
    clear:both; /*both mean left & right*/
    width:940px;
    height: 40px;
    font-size:10px;
    color: rbga(106,130,145, .5);
    text-align: center;
    line-height: 40px;
    border-top: 2px solid #3c6777;
}